<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin/Release/net10.0/publish/linux-musl-x64/</PublishDir>
    <AssemblyName>apigen-dotnet-cli-linux-musl-x64</AssemblyName>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>linux-musl-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimMode>partial</TrimMode>
    <JsonSerializerIsReflectionEnabledByDefault>true</JsonSerializerIsReflectionEnabledByDefault>
    <InvariantGlobalization>true</InvariantGlobalization>
  </PropertyGroup>
  <ItemGroup>
    <TrimmerRootAssembly Include="Microsoft.OpenApi" />
    <TrimmerRootAssembly Include="Microsoft.OpenApi.Readers" />
    <TrimmerRootAssembly Include="SharpYaml" />
    <TrimmerRootAssembly Include="CodegenCS.Core" />
    <TrimmerRootAssembly Include="CommandLine" />
    <TrimmerRootAssembly Include="Newtonsoft.Json" />
    <TrimmerRootAssembly Include="NuGet.Protocol" />
    <TrimmerRootAssembly Include="NuGet.Common" />
    <TrimmerRootAssembly Include="NuGet.Configuration" />
    <TrimmerRootAssembly Include="NuGet.Versioning" />
    <TrimmerRootAssembly Include="NuGet.Packaging" />
    <TrimmerRootAssembly Include="NuGet.Frameworks" />
  </ItemGroup>
</Project>
